/*Estilo especifico para pagina listas.html*/
/*titulo principal y párrafos */
#principal h2 {
    margin: 0.5em;
    color: navy;
    font-size: 1.5em;
  }
  #principal p {
    margin: 0.5em 5em;
    text-align: justify;
    font-size: 0.9em;
  }
  /*maquetar las listas*/
  #principal .lista {
    float: left;
    width: 40%;
    margin: 10px 5%;
    background-color: #e6e6fa;
  }
  /*título de las listas*/
  #principal h3 {
    color: #4b0082;
    margin: 0.5em 2em;
    text-align: left;
  }
  /*Elementos de las listas*/
  
  #principal li {
    font-size: 0.9em;
    text-align: left;
    margin: 0.3em 4em;
  }
  
  /*Estilo específico para cada lista*/
  #paises li {
    list-style-type: square;
  }
  #idiomas li {
    list-style-type: decimal;
  }