h1  {
    border-width: thick;    
    border-style: dotted  ;
    border-color: gold;
}
h2  {
    border-width: 20px;
    border-style: outset  ;
    border-color: red;  
}
p  {
    border-width: 1px;  
    border-style: dashed ;  
    border-color: blue;
}
ul  {
    border-width: thin;
    border-style: solid ;  
    border-color: orange;  
}
